.et-container{
    background-color: #434242;
    width: 100%;
    display: grid;
    padding: 20px;
    height: 86vh;
    grid-template-columns: 60% 40%;
}


.main-content{
    width: 100%;
    display: flex;
    background-color: #434242;
}

.editor-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

@media (max-width: 1040px) {
    .et-container{
        grid-template-columns: none;
        width: 100%;
        padding: 0px;
        height: 100%;
        place-items: center;
    }  
    .editor-container{
        order: 2;
        width: 95%;
        margin-left: px;
    }


    .options-content{
        width: 100%;
    }

    .MuiBox-root{
        width: 100%;
    }
    .css-0{
        max-width: 100%;
    }
    .terminal-container{
        order: 1;
        width: 95%;
    }

    .sidebar-container{
        width: 100%;
    }
    .main-content{
        flex-direction: column;
        height: 100%;
    }

    .principal{
        height: auto;
        min-height: 220vh;
    }
}

.principal{
    background-color: #434242;
}

.terminal-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}


.terminal-impl{
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    height: 60vh;
    background-color: black;
}

