pre{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
}

.info-data{
    font-size: 1.5rem;
    padding-top: 100px;
}


.info-data > h1{
    border-bottom: 2px solid white;
    padding: 10px;
}


.info-data > p,h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-content-container{
    margin-bottom: 20px;
    display: flex;
}

.info-sidebar{
    position: fixed;
    justify-content: center;
    left: 0;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 100%;
    background-color: #222222;
}

.info-sidebar-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}


.info-sidebar-content > li{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.info-sidebar-content > li:hover{
    color: black;
    background-color: #FFC94A;
    border-radius: 8px;
    cursor: pointer;
}