.wrapper{
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 210px;
}




.loading-container{
  background-color: #222222;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

footer{
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #222222;
  position: fixed;
  bottom: 0;
}
